{% load static %}
<html>
<head>

    <title>Reservation PDF</title>
    <style type="text/css">

        td {
            border: solid 1px grey;
            background-color: lightgrey;
            text-align:center;
            vertical-align:center;

        }



    </style>
</head>
<body>
    <table>
        <th>
            <div align="left">
                <img width={{ATEC.size_logo}} src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.logo.url}}"/>
            </div>
        </th>
        <th>
            <div align="center">
            {{ATEC.field_name}} <br>
            {{ATEC.field_cedjuri}}<br>
            {{ATEC.field_tel_cellular}}<br>
            {{ATEC.field_localisation}}<br>
            {{ATEC.field_tel_officina}}<br>
            {{ATEC.field_mail}}
            </div>
        </th>
        <th>
            <div>
                <h2 align="right">
                    Receipt of<br> Reservation N° {{reservation.number_reservation}}
                </h2>
            </div>
        </th>
    </table>





    <div>
        <HR>
    </div>



       <div>
        <HR>
        </div>

   <table>
   <th>Tour</th>
    <th>Client</th>
   <th>Start Date</th>
   <th>End Date</th>
   <th>Guide</th>
   <th>Lang</th>
   <th>QTY</th>
   <th>Rate</th>
   <th>Tax</th>
   <th>Unit price</th>
   <th>Discount</th>
   <th>Card/Paypal</th>
   <th>Total</th>
   {% for line in lines %}
    <tr>
        <td>{{ line.get_product_name }}</td>
        <td>{{ line.get_client_name }} </td>
        <td>{{ line.date_start }}</td>
        <td>{{ line.date_end }}</td>
        <td>{{ line.get_guide_name }}</td>
        <td>{{ line.language_reservation }} </td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.get_agediscount_name }}</td>
        <td>{{ line.get_tax }}%</td>
        <td>{{ line.get_unit_price }}$</td>
        <td>-{{ line.get_discount }}$</td>
        <td>{{ line.get_card_paypal }}$</td>
        <td>{{ line.get_discounted }}$</td>
    </tr>
   {% endfor %}
    </table>
    <div align="right">
        <br>

        TOTAL = {{total_to_pay}}$
    </div>
    <div>
        <HR>
    </div>
    <div>
        <h3 align="center">{{ATEC.field_thanks}}</h3>
        <h5 align="center">{{ATEC.field_recommandations}}</h5>
    </div>
    <div align="center" >
        <img width={{coupon.size}} src="/Users/justinsabate/ATECTest3/mysite/{{coupon.image}}"   />
    </div>


        <table bottom="0px" >
            <th><a href={{ATEC.link_1}}> <img  width={{ATEC.size_1}}  src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.image_1.url}}" /></a>
            </th>
            <th><a href={{ATEC.link_2}}> <img  width={{ATEC.size_2}} src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.image_2.url}}"/></a>
            </th>
            <th><a href={{ATEC.link_3}}> <img  width={{ATEC.size_3}}  src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.image_3.url}}"/></a>
            </th>
            <th><a href={{ATEC.link_4}}> <img  width={{ATEC.size_4}}  src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.image_4.url}}"/></a>
           </th>
            <th> <a href={{ATEC.link_5}}> <img  width={{ATEC.size_5}}  src="/Users/justinsabate/ATECTest3/mysite/app/{{ATEC.image_5.url}}"/></a>
            </th>
        </table>

<div style="bottom:0px;position:fixed;"  align="right">

    <a href="https://ateccr.org"> Visit our Website © ateccr.org </a>


</div>

</body>
</html>